<div [hidden]="!isAdmin" class="container">
  <!--START- Actions Section -->
  <!-- TODO ->Create A Form Navbar -->
  <div class="row align-items-center my-5">
    <div class="col">
      <form>
        <input
          name="searchInput"
          type="search"
          #searchForm="ngModel"
          ngModel
          (ngModelChange)="searchUsers(searchForm.value)"
          placeholder="Search Users"
        />
      </form>
    </div>
    <div class="col row justify-content-around">
      <button
        type="button"
        (click)="onAddNewUserButton()"
        class="col-sm-10 btn btn-outline-dark my-1"
      >
        <i class="fas fa-user-plus me-2"></i> Add User
      </button>
      <button
        type="button"
        (click)="getUsers(true)"
        class="col-sm-10 btn btn-outline-dark my-1"
      >
        <i *ngIf="!refreshing" class="fas fa-sync-alt me-2"></i>
        <i *ngIf="refreshing" class="fas fa-sync fa-spin me-2"></i>
        Refresh Data
      </button>
    </div>
  </div>

  <!-- END - Actions Section -->

  <div class="table-responsive table-sm">
    <table class="table text-center align-middle table-hover">
      <thead>
        <tr>
          <th>Id</th>
          <th>Family Name</th>
          <th>Status</th>
          <th>Actions</th>
        </tr>
      </thead>
      <tbody *ngFor="let appUser of users">
        <tr>
          <td (click)="onSelectUser(appUser)">{{appUser?.userId}}</td>
          <td (click)="onSelectUser(appUser)">{{appUser?.lastName}}</td>
          <td (click)="onSelectUser(appUser)">
            <span [hidden]="!appUser?.active" class="badge bg-success me-2"
              >Active</span
            >
            <span [hidden]="appUser?.active" class="badge bg-danger"
              >Inactive</span
            >
          </td>
          <td style="width: 20%;">
            <div class="d-grid gap-2 d-md-block">
              <button
                id="editUserButton"
                (click)="onEditUser(appUser)"
                class="btn btn-warning btn-sm me-md-2"
              >
                <span class="fa-stack">
                  <i class="fas fa-cog fa-stack-1x"></i>
                  <i class="fa fa-pencil fa-stack-2x fa-inverse"></i>
                </span>
              </button>
              <button
                id="deleteUserButton"
                (click)="onDeleteUser(appUser.username)"
                class="btn btn-danger btn-sm"
              >
                <span class="fa-stack">
                  <i class="fas fa-trash-alt fa-stack-1x"></i>
                  <i class="fa fa-trash-o fa-stack-2x fa-inverse"></i>
                </span>
              </button>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
  </div>

  <!-- Modal - [readUserModal] -->
  <div
    class="modal fade"
    id="readUserModal"
    data-bs-backdrop="static"
    data-bs-keyboard="false"
    tabindex="-1"
    aria-labelledby="readUserModalLabel"
    aria-hidden="true"
  >
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="readUserModalLabel">
            {{selectedUser?.firstName}} {{selectedUser?.lastName}}
          </h5>
          <div class="alert alert-light my-2" role="alert">
            Joined {{selectedUser?.signUpDate}}
          </div>

          <button
            type="button"
            class="btn-close"
            data-bs-dismiss="modal"
            aria-label="Close"
          ></button>
        </div>
        <div class="modal-body">
          <div class="row g-3">
            <div class="col-md-6">
              <label for="inputEmail4" class="form-label">Email</label>
              <input
                readonly
                type="email"
                value="{{selectedUser?.email}}"
                class="form-control"
                id="inputEmail4"
              />
            </div>
            <div class="col-md-6">
              <label for="inputArmyId" class="form-label">Company Id</label>
              <input
                readonly
                type="text"
                value="{{selectedUser?.companyId}}"
                class="form-control"
                id="inputArmyId"
              />
            </div>
            <div class="col-12">
              <label for="inputRole" class="form-label">Role</label>
              <input
                readonly
                type="text"
                class="form-control"
                id="inputRole"
                value="{{selectedUser?.role}}"
              />
            </div>
            <div class="col-6">
              <label class="form-label me-2">Status</label>
              <span
                [hidden]="!selectedUser?.active"
                class="badge bg-success me-2"
                >Active</span
              >
              <span [hidden]="selectedUser?.active" class="badge bg-danger"
                >Inactive</span
              >
            </div>
            <div class="col-6">
              <label *ngIf="selectedUser?.notLocked" class="form-label me-2"
                >Is Unlocked</label
              >
              <label *ngIf="!selectedUser?.notLocked" class="form-label me-2"
                >Is Locked</label
              >

              <span
                [hidden]="!selectedUser?.notLocked"
                class="badge bg-success me-2"
                ><i class="fas fa-lock-open"></i
              ></span>
              <span [hidden]="selectedUser?.notLocked" class="badge bg-danger"
                ><i class="fas fa-lock"></i
              ></span>
            </div>
          </div>
        </div>
        <div class="modal-footer">
          <button
            type="button"
            class="btn btn-secondary"
            data-bs-dismiss="modal"
          >
            Close
          </button>
        </div>
      </div>
    </div>
  </div>

  <!-- Modal - [createUserModal] -->
  <div
    class="modal fade"
    id="createUserModal"
    data-bs-backdrop="static"
    data-bs-keyboard="false"
    tabindex="-1"
    aria-labelledby="createUserModalLabel"
    aria-hidden="true"
  >
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="createUserModalLabel">
            Create User
          </h5>
          <button
            type="button"
            class="btn-close"
            data-bs-dismiss="modal"
            aria-label="Close"
          ></button>
        </div>
        <div class="modal-body">
          <form
            #newUserForm="ngForm"
            (ngSubmit)="addNewUser(newUserForm)"
            class="row g-3"
            id="createUserForm"
          >
            <div class="col-md-6">
              <label for="createUserFirstName" class="form-label"
                >First Name</label
              >
              <input
                required
                ngModel
                name="firstName"
                type="text"
                class="form-control"
                id="createUserFirstName"
              />
            </div>
            <div class="col-md-6">
              <label for="createUserLastName" class="form-label"
                >Last Name</label
              >
              <input
                required
                ngModel
                name="lastName"
                type="text"
                class="form-control"
                id="createUserLastName"
              />
            </div>
            <div class="col-md-6">
              <label for="createUserUsername" class="form-label"
                >Username</label
              >
              <input
                required
                type="text"
                name="username"
                ngModel
                class="form-control"
                id="createUserUsername"
              />
            </div>
            <div class="col-md-6">
              <label for="createUserEmail" class="form-label">Email</label>
              <input
                required
                type="email"
                name="email"
                ngModel
                class="form-control"
                id="createUserEmail"
              />
            </div>
            <div class="col-12">
              <label for="createUserRole" class="form-label">Role</label>
              <select
                id="createUserRole"
                ngModel="SOLDIER"
                name="role"
                class="form-select"
              >
              <option value="ROLE_USER">USER</option>
              <option value="ROLE_ADMIN">ADMIN</option>
              </select>
            </div>
            <div class="col-12">
              <div class="form-check">
                <input
                  class="form-check-input"
                  type="checkbox"
                  id="createUserActive"
                  name="active"
                  ngModel
                />
                <label class="form-check-label" for="createUserActive">
                  Active
                </label>
              </div>
            </div>
            <div class="col-12">
              <div class="form-check">
                <input
                  name="notLocked"
                  ngModel
                  class="form-check-input"
                  type="checkbox"
                  id="createUserUnlocked"
                />
                <label class="form-check-label" for="createUserUnlocked">
                  Unlocked
                </label>
              </div>
            </div>
          </form>
          <div class="modal-footer">
            <button
              type="button"
              class="btn btn-secondary"
              data-bs-dismiss="modal"
              id="closeAddNewUserModal"
            >
              Close
            </button>
            <button
              [disabled]="newUserForm.invalid"
              form="createUserForm"
              type="submit"
              class="btn btn-secondary"
            >
              Save Changes
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!-- Modal - [editUserModal] -->
  <div
    class="modal fade"
    id="editUserModal"
    data-bs-backdrop="static"
    data-bs-keyboard="false"
    tabindex="-1"
    aria-labelledby="editUserModalLabel"
    aria-hidden="true"
  >
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="editUserModalLabel">
            Update User
          </h5>
          <button
            type="button"
            class="btn-close"
            data-bs-dismiss="modal"
            aria-label="Close"
          ></button>
        </div>
        <div class="modal-body">
          <form #editUserForm="ngForm" class="row g-3" id="editUserForm">
            <div class="col-md-6">
              <label for="editUserFirstName" class="form-label"
                >First Name</label
              >
              <input
                required
                [(ngModel)]="editUser.firstName"
                name="firstName"
                type="text"
                class="form-control"
                id="editUserFirstName"
              />
            </div>
            <div class="col-md-6">
              <label for="editUserLastName" class="form-label">Last Name</label>
              <input
                required
                [(ngModel)]="editUser.lastName"
                name="lastName"
                type="text"
                class="form-control"
                id="editUserLastName"
              />
            </div>
            <div class="col-md-6">
              <label for="editUserUsername" class="form-label">Username</label>
              <input
                required
                type="text"
                name="username"
                [(ngModel)]="editUser.username"
                class="form-control"
                id="editUserUsername"
              />
            </div>
            <div class="col-md-6">
              <label for="editUserEmail" class="form-label">Email</label>
              <input
                required
                type="email"
                name="email"
                [(ngModel)]="editUser.email"
                class="form-control"
                id="editUserEmail"
              />
            </div>
            <div class="col-12">
              <label for="editUserRole" class="form-label">Role</label>
              <select
                id="editUserRole"
                [(ngModel)]="editUser.role"
                name="role"
                class="form-select"
              >
                <option value="ROLE_USER">USER</option>
                <option value="ROLE_ADMIN">ADMIN</option>
              </select>
            </div>
            <div class="row g-3">
              <div class="col-md-6">
                <div class="form-check">
                  <input
                    class="form-check-input"
                    type="checkbox"
                    id="editUserActive"
                    name="active"
                    [(ngModel)]="editUser.active"
                  />
                  <label class="form-check-label" for="editUserActive">
                    Active
                  </label>
                </div>
                <div class="form-check">
                  <input
                    name="notLocked"
                    [(ngModel)]="editUser.notLocked"
                    class="form-check-input"
                    type="checkbox"
                    id="editUserUnlocked"
                  />
                  <label class="form-check-label" for="editUserUnlocked">
                    Unlocked
                  </label>
                </div>
              </div>
              <!-- TODO -> FIX THE PROBLEM ON onResetPassword(editUser.email) -->
              <div class="col-md-6">
                <button
                  type="button"
                  class="btn btn-dark"
                  id="editResetEmailPassword"
                  (click)="onResetPassword(editUser.email)"
                >
                  Reset Password
                </button>
              </div>
            </div>
          </form>
          <div class="modal-footer">
            <button
              type="button"
              class="btn btn-secondary"
              data-bs-dismiss="modal"
              id="closeEditUserModal"
            >
              Close
            </button>
            <button
              [disabled]="editUserForm.invalid"
              (click)="onUpdateUser()"
              form="editUserForm"
              type="submit"
              class="btn btn-secondary"
            >
              Save Changes
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
